{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}
<style>
        /* Style for the image */
        .club-image {
            max-width: 100px; /* Adjust the maximum width as needed */
            height: auto;
            margin-right: 10px; /* Add some spacing between the image and the text */
            border-radius: 5px; /* Add a border radius for rounded corners */
        }
    </style>
    <h1>Event index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Capacite</th>
                <th>Localization</th>
                <th>Description</th>
                <th>Type</th>
                <th>Image</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.name }}</td>
                <td>{{ event.capacite }}</td>
                <td>{{ event.localization }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.type }}</td>
                <td><img class="club-image" src="{{ asset('uploads/image/' ~ event.image) }}" alt="Event Image"></td>
                <td>{{ event.date ? event.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_event_show', {'id': event.id}) }}">show</a>
                    <a href="{{ path('app_event_edit', {'id': event.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_event_new') }}">Create new</a>
{% endblock %}
