
{% extends 'test/index.html.twig' %}

{% block eventbody %}

    <!-- latest BLog Section Begin -->
    <section class="latest-blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Latest News</h2>
                        <p>Do not miss anything topic about the event</p>
                    </div>
                </div>
            </div>
            <div class="row">
             {% for event in events %}
    <div class="col-lg-6">
        <div class="latest-item set-bg large-item" data-setbg="{{ event.image ?  asset('uploads/image/' ~ event.image) : 'img/default-event.jpg' }}">
            <div class="li-tag">{{ event.type }}</div>
            <div class="li-text">
                <h4>
                
                <a href="{{ path('app_crete', {'id': event.id}) }}" data-event-id="{{ event.id }}" class="event-link">{{ event.name }}</a>
                </h4>
                <p>{{ event.description }}</p>
                <span><i class="fa fa-calendar"></i> {{ event.date ? event.date|date('d M, Y') : 'Date not set' }}</span>
                <span><i class="fa fa-users"></i> Capacity: {{ event.capacite }}</span>
                <span><i class="fa fa-map-marker"></i> {{ event.localization }}</span>
            </div>
        </div>
    </div>
{% endfor %}
            </div>
        </div>
    </section>
    <script>

    
 
    </script>
{% endblock %}

