{% extends 'base.html.twig' %}

{% block body %}
    <h1>Club Search Results</h1>


    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Organizer</th>
                <th>Location</th>
                <th>Capacity</th>
                <th>Created At</th>
                <th>Description</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            {% for club in clubs %}
                <tr>
                    <td>{{ club.name }}</td>
                    <td>{{ club.organizer }}</td>
                    <td>{{ club.location }}</td>
                    <td>{{ club.capacity }}</td>
                    <td>{{ club.createdAt ? club.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ club.description }}</td>
                    <td>
                        <img src="{{ asset('uploads/image/' ~ club.image) }}" alt="Club Image">
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}