{% extends 'base.html.twig' %}

{% block title %}Participatient{% endblock %}

{% block body %}
    <h1>Participatient</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ participatient.id }}</td>
            </tr>
            <tr>
                <th>Nom_par</th>
                <td>{{ participatient.nomPar }}</td>
            </tr>
            <tr>
                <th>Prenom_par</th>
                <td>{{ participatient.prenomPar }}</td>
            </tr>
            <tr>
                <th>Age_par</th>
                <td>{{ participatient.agePar }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_participatient_index') }}">back to list</a>

    <a href="{{ path('app_participatient_edit', {'id': participatient.id}) }}">edit</a>

    {{ include('participatient/_delete_form.html.twig') }}
{% endblock %}
